.configuracion-layout {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2rem;
    flex-direction: row;
}

.configuracion-opciones {
    width: 220px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.configuracion-opciones ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.configuracion-opciones li {
    margin-bottom: 1rem;
}

.configuracion-opciones a {
    font-family: 'Inter', sans-serif;
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.configuracion-opciones a:hover {
    background-color: #f0f0f0;
}

.configuracion-opciones a.active {
    background-color: #d6d6d6;
    font-weight: bold;
    color: #000;
}

.cerrar-sesion {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
}

.configuracion-contenido {
    flex: 1;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
    margin-right: 2%;
    min-height: 120px;
}

.configuracion-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 2rem;
}

.configuracion-centro .configuracion-opciones {
    margin: 0 auto;
    width: 280px;
}


@media (max-width: 768px) {
    .configuracion-layout {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .configuracion-opciones {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
    .configuracion-contenido {
        margin-left: 0;
        margin-right: 0;
        width: 86%;
        margin-top: 1.5rem;
    }

    .configuracion-centro{
        min-height: 5vh;
    }
}
