/* actualizar_perfil.css */

.perfil-editar-container {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 12px;
    font-family: 'Outfit', sans-serif;
}

.perfil-editar-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #444;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
    width: 100%;
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #3f51b5;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-cancel {
    background-color: darkred;
    color: white;
}

.btn-cancel:hover {
    background-color: #555;
}
