@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');


/* Contenedor del login */
.login-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}

.titulo{
    font-size: 0.8em;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #333;
}

input {
    border-bottom: 2px solid black; /* Línea azul en la parte inferior */
    outline: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 20px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

/* Botón de login */
button {
    padding: 10px 15px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8c8c8c;
}

/* Mensajes de error */
.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 10px;
    text-align: center;
}
