@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');


.login-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #cfcfcf;
}

.titulo{
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #333;
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Quicksand', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8c8c8c;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 10px;
    text-align: center;
}


.checkbox-mostrar {
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    font-size: 0.9rem;
    color: #555;
    gap: 4px;
}

.checkbox-mostrar input[type="checkbox"] {
    transform: scale(1.1);
    cursor: pointer;
    margin: 0;
}

.checkbox-mostrar label {
    cursor: pointer;
    user-select: none;
    margin: 0;
}
