.mobile-buttons{
    display: none;
}


@media (max-width: 1164px) {
    .login-register-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }

    .login-register-text a {
        font-size: 0.85rem;
        margin: 0;
    }

    .separador {
        display: none;
    }

    .mobile-buttons{
        display: none;
    }
}

    @media (min-width: 768px) {

    .login-register-text {
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .login-register-text a {
        text-decoration: none;
        color: #007bff;
        margin: 0 0.5rem;
        transition: color 0.3s ease;
    }

    .login-register-text a:hover {
        color: #0056b3;
    }

    .separador {
        margin: 0 0.3rem;
        color: #888;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    nav.container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.left-buttons,
    ul.right-buttons {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }


    .menu-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    .login-register-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
    }

    .login-register-text a {
        font-size: 0.85rem;
        margin: 0;
        color: #007bff;
        transition: color 0.3s ease;
    }

    .separador {
        display: none;
    }

    ul.left-buttons,
    ul.right-buttons {
        display: none;
    }

    .mobile-buttons {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        width: 41%;
        top: 0px;
        left: 70px;
        background-color: white;
    }

    .mobile-buttons.open {
        display: flex;
    }

    .mobile-buttons li {
        list-style: none;
        margin: 0;
    }

    .mobile-buttons li a {
        padding: 5px 10px;
        display: block;
        text-decoration: none;
        color: #333;
        font-family: "Outfit", sans-serif;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 60px;
        left: 15px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 2000;
    }

    .menu-toggle span {
        background: #333;
        display: block;
        height: 3px;
        margin: 5px 0;
        border-radius: 2px;
        transition: 0.3s;
    }

    .logo {
        margin: 0 15px;
        z-index: 5;
        position: relative;
        text-align: center;
    }

    .nombre-pagina {
        font-size: 1.2rem;
    }

    .fondo{
        margin: 15px;
        height: calc(100% - 90px);
        width: calc(100% - 29px);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

@media (max-width: 400px){
    .mobile-buttons {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        width: 39%;
        top: 0px;
        left: 70px;
        background-color: white;
    }

    .mobile-buttons.open {
        display: flex;
    }

    .mobile-buttons li {
        list-style: none;
        margin: 0;
    }

    .mobile-buttons li a {
        padding: 5px 10px;
        display: block;
        text-decoration: none;
        color: #333;
        font-family: "Outfit", sans-serif;
    }
}
